@import "../../../data/styles.css";

.socials {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.social,
.email-wrapper {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.social a,
.email-wrapper a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--secondary-color);
    transition: all 0.3s ease;
    width: 100%;
}

.social a:hover,
.email-wrapper a:hover {
    color: var(--primary-color);
    transform: translateX(5px);
}

.social-icon {
    font-size: 20px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-text {
    color: var(--secondary-color);
    padding-left: 15px;
    font-weight: 600;
    font-size: 14px;
    margin-top: 0;
}

.email::before {
    content: "";
    display: block;
    padding-top: 20px;
    border-top: 2px solid #f4f4f5;
    margin-top: 10px;
    width: 100%;
}

.email-wrapper {
    padding-top: 15px;
}