@import "../../data/styles.css";

.contact-logo-container {
    display: flex;
    justify-content: left;
    padding-top: 25px;
}

.contact-logo {
    display: flex;
    position: fixed;
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    top: 4vh;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 120px;
}

.contact-title {
    width: 100% !important;
}

.contact-subtitle {
    width: 100% !important;
    line-height: 1.6;
    margin-top: 20px;
}

.contact-subtitle a {
    color: var(--link-color);
    text-decoration: none;
}

.contact-subtitle a:hover {
    color: var(--primary-color);
}

.socials-container {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    width: 100%;
}

.contact-socials {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 300px;
}

.page-footer {
    margin-top: 80px;
}